data/*
!data/*.b3sum
!data/*.sha256
results/
volumes/
ai4mi/
__pycache__/

projects
out/
# jobs/
results_old/
student-15704939
.env
outfiles/
wandb/

train_results/
# Then specifically include what we want to keep
!train_results/*/best_epoch/
!train_results/*/best_epoch.txt
!train_results/*/bestmodel.pkl
!train_results/*/bestweights.pt
!train_results/*/dice_*.npy
!train_results/*/loss_*.npy